# MovieLens database cleaning

According to its ReadMe, this database has records from ratings dating from between January 09, 1995 and March 31, 2015. The Netflix database only ranges from October 1998 to December 2005, so that many entries are useless.

The numbers of distinct users goes from 138.493 to 52875.

In [1]:
import pandas as pd
import numpy as np

In [2]:
db = pd.read_csv("data/ML_dataset.csv")
print(db.shape)
a = (db["timestamp"] < 907200000) 
print("There are", sum(a), "reviews made before the 1st October 1998.")
b = (db["timestamp"] > 1135987200) 
print("There are", sum(b), "reviews made after the 31st December 2005.")

db.head()

(20000263, 4)
There are 2558956 reviews made before the 1st October 1998.
There are 8165131 reviews made after the 31st December 2005.

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [3]:
# Remove useless rows
a = (db["timestamp"] > 907200000) 
db = db[a]
print(db.shape)
b = (db["timestamp"] < 1135987200) 
db = db[b]
print(db.shape)

(17441307, 4)
(9276176, 4)

In [8]:
# Get number of distincts users
print("There are", len(db.userId.unique()), "users left.")

There are 52875 users left.