In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
db = pd.read_csv("DB.csv", encoding="UTF-8",sep=";",usecols=[1,2,3,4])
db["rating"] = np.ceil(db["rating"])
db.head()

   userId  movieId  rating   timestamp
0       1        2     4.0  1112486027
1       1       50     4.0  1112484580
2       1      151     4.0  1094785734
3       1      223     4.0  1112485573
4       1      296     4.0  1112484767

In [3]:
df = pd.read_csv("DF.csv", encoding="UTF-8",sep=";",usecols=[1,2,3,4])
df.head()

    userId  rating  timestamp  movieId
0  1109700       4   20010712     5167
1  1056998       5   20041231     5167
2   903692       3   20050112     5167
3  2380973       4   20051116     5167
4   497196       3   20040227     5167

In [4]:
ref = datetime.datetime.strptime('19981001', '%Y%m%d')

temp_db = np.floor((db["timestamp"].apply(datetime.datetime.fromtimestamp) - ref) / datetime.timedelta(days=1))
# db.head()
# df.head()

In [5]:
temp_df = np.floor((df["timestamp"].astype(str).apply(datetime.datetime.strptime, args=('%Y%m%d',)) - ref) / datetime.timedelta(days=1))

In [9]:
db["timestamp"]=temp_db

In [10]:
df["timestamp"]=temp_df

In [11]:
db.to_csv("time_fixed_DB.csv",";",index=False)

In [12]:
df.to_csv("time_fixed_DF.csv",";",index=False)